

body{
    background-color: grey;
}

.burger{
    width: 40px;
    height: 40px;
    background: white;
}

nav{
    background-color: lightskyblue;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: translateX(-105%);
}
.show-nav{
    transform: translateX(-10%);
    transition: 0.3s;
}

ul li{
    line-height: 30px;
    list-style: none;
}

